.panel-heading {
    padding: 5px 15px;
}

body {
    padding-top: 20px;
}

.panel-body .btn:not(.btn-block) {
    width: 120px;
    margin-bottom: 10px;
}


.t_light {
    height:30px !important;
    width: auto;
}

.PleaseWait {
    height: 32px;
    width: 500px;
    background-image: url(Images/PleaseWait.gif);
    background-repeat: no-repeat;
    padding-left: 40px;
    line-height: 32px;
}


.gridview{
    background-color:#2461BF;
    height: 40px;
   /*padding:100px;*/
   margin:2% auto;
   
   
}

.gridview a{
  margin:auto 2%;
    border-radius:50%;
      background-color:#fff;
      padding:5px 10px 5px 10px;
      color:#000;
      text-decoration:none;
      -o-box-shadow:1px 1px 1px #111;
      -moz-box-shadow:1px 1px 1px #111;
      -webkit-box-shadow:1px 1px 1px #111;
      box-shadow:1px 1px 1px #111;
     
}

.gridview a:hover{
    background-color:#1e8d12;
    color:#fff;
}

.gridview span{
    background-color:#ae2676;
    color:#fff;
     -o-box-shadow:1px 1px 1px #111;
      -moz-box-shadow:1px 1px 1px #111;
      -webkit-box-shadow:1px 1px 1px #111;
      box-shadow:1px 1px 1px #111;

    border-radius:50%;
    padding:5px 10px 5px 10px;
    margin: 0 5px;
}

.marginItem {
    padding-left: 20px;
}